ipywidgets
qgrid
fileupload
pandas==0.22.0
numpy==1.14.5
tabulate==0.8.1
pandas-datareader>=0.5.0
matplotlib>=2.1.1
anytree
pytest
parameterized
pathlib
-e git+https://github.com/OasisLMF/OasisLMF.git@feature/full_reinsurance_filtering#egg=oasislmf
